################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp_reference/cpp_ref/out/build/linux-debug
